ion-row {
    text-align: center;
    
    .subtitle {
        margin: 0;
    }

    .amount {
        font-size: 20px;
        font-weight: 200;
        margin: 0;
    }

    .p-repository {
        color: #eb445a;
    }
}